<div class="d=flex align-items-center justify-content-center mt-4 mb-4">

  <div class="text-center mb-4">
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="d-flex justify-content-center flex-row">

    <form>
      <div class="form-row flex-nowrap mt-2">
        <input type="text" class="form-control mr-3" placeholder="Your name">
        <input type="email" class="form-control " placeholder="Your email">
      </div>
      <div class="form-row">
        <textarea class="form-control mt-3 " rows="5" placeholder="Your message"></textarea>
      </div>
      <div class="form-row d-flex justify-content-end">
        <button class="btn bg-success mt-3 text-white" type="button">SUBMIT</button>
      </div>
    </form>

    <div class="d-flex flex-column pl-4 w-25">
      <h4>INFORMATION</h4>
      <div class="d-flex flex-row">
        <i class="fa fa-map-marker p-2"></i>
        <p>Bak-One Company 12345 Hollywood Bvld Street Los Angeles, Californnia</p>
      </div>
      <div class="d-flex flex-row">
        <i class="fa fa-phone-square p-2"></i>
        <p>+44(Phone)123456</p>
      </div>
      <div class="d-flex flex-row">
        <i class="fa fa-print p-2"></i>
        <p>+123(FAX)0011223</p>
      </div>
      <div class="d-flex flex-row">
        <i class="fa fa-envelope p-2"></i>
        <p>info@bak-onecompany.com</p>
      </div>
    </div>

  </div>
</div>