<h5 class="card-title mt-4">
  Login Area</h5>

<hr>

<form class="form">
  <label for="username"> Username</label>
  <input type="text" id="username" class="form-control" placeholder="Enter your name" name="name" required>

  <label for="password"> Password</label>
  <input type="password" id="password" class="form-control" placeholder="Enter your password">

  <hr>

    <button class="btn btn-info m-2" type="submit">
      <i class="fa fa-lock"></i> Login
    </button>
</form>

<script src="js/login.js"></script>