* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6em;
    padding-bottom: 400px;
}

.subtask {
    margin: 20px 0;
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 16px;
}

ul {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
    display: flex;
}

ul > li {
    list-style-type: none;
    padding: 20px;
    background-color: lightpink;
    width: calc(100%/6);
}

ul > li img {
    margin: 0 auto;
    display: block;
}

.clearfix {
    clear: both;
}

.subtask3 ul li:hover {
    transform: rotate(90deg);
}



@media only screen and (max-width:399px) {

    ul {
        display: block;
    }

    ul > li {
        width: calc(100%);
    }

}

@media only screen and (min-width:400px) {
    ul > li {
        width: calc(100%/2);
    }
}

@media only screen and (min-width:600px) {}

@media only screen and (min-width:1000px) {}
