* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 400px;
  margin: auto
}

li {
  width: 100px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  float: left;
  background-color: white;
}

a {
  text-decoration: none;
}
