* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
   flex-grow: 1;
}




#yellow {
    height: 200px;
    width: 400px;
    background-color: yellow;


}

#green {
    height: 200px;
    width: 400px;
    background-color: green;

}

#red {
    height: 450px;
    width: 550px;
    background-color: orangered;
}

#blue1 {
    height: 200px;
    width: 250px;
    background-color: lightblue;
    margin: 20px;
}

#blue2 {
    height: 200px;
    width: 250px;
    background-color: lightblue;


}
