<!DOCTYPE html>
<html lang="bg">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style_climbing.css">
  <title>Climbing</title>
</head>

<body>

  <header>
    <img alt="logo" src="../img/logo.jpg">
    <h1>Клуб по спортно катерене "Селт"</h1>
    <a href="../index.html" title="GoBack"> Към оснавната страница</a>
  </header>
  <main>

    <nav id="navbar" class="navbar flex-column col-lg-2">
      <nav class="nav nav-pillsflex-column">
        <a class="" href="#item-1">Статии</a>
        <nav class="nav nav-pills flex-column" id="navigation">
        </nav>
        <a class="nav-link" href="#item-2">Състезатели</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-2 my-1" href="#item-2-1">Стоян Петров</a>
        </nav>
      </nav>
    </nav>

    <div id="info" class="col-lg-10" data-spy="scroll" data-target="#navbar" data-offset="0">

      <section id="item-1">
      </section>

      <hr>
      <hr>

      <section id="item-2">
        <div id="item-2-1">
          <div class="competitor">
            <h4>Стоян Петров</h4>
            <img alt="SPetrova" src="../img/start.jpg">
            <img alt="SPetrov" src="../img/end.jpg">
          </div>
        </div>
      </section>

    </div>

  </main>

  <footer id="footer" class="col-12">
    <a href="#">
    <i class="fa fa-phone"></i>
      </a>
    <a href="#">
    <i class="fa fa-envelope"></i>
      </a>
    <a href="https://www.facebook.com/SeltClimbing/">
    <i class="fa fa-facebook"></i>
      </a>
    <a href="https://bfka.org/">
      <abbr title="Българска федерация по катерене и алпинизъм">БФКА</abbr>
      </a>
    <p>
      &copy; Copyright <strong>Denitsa Petrova</strong>. All Rights Reserved
    </p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="../js/script_climbing.js"></script>
</body>

</html>