
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #484444;
  background-color: #fafafa;
}

/*========================================= H E A D E R =========================================*/

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8em;
}

#brand {
  font-weight: 900;
  font-size: 1.8em;
  color: inherit;
  letter-spacing: 8px;
}

nav {
  padding: 0 1.8em;
}

nav a {
  display: block;
  text-align: center;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px #ccc;
  letter-spacing: 2px;
}

header nav a {
  padding: 16px;
  color: #515151;
}

nav a:active {
  color: #333;
}

nav a:hover {
  background-color: #f1f1f1;
}

header nav {
  overflow: hidden;
  height: 230px;
  transition-duration: 1s;
}

.collapse {
  height: 0;
}

header, #intro, a {
  text-transform: uppercase;
}

#menu-icon {
  font-size: 2em;
}

#menu-icon:visited,
#menu-icon:active {
  color: inherit;
}

/*========================================= I N T R O   B A N N E R =========================================*/


#intro {
  height: calc(100vh - 100px);
  background-image: url(images/header-bg.jpeg);
  background-size: cover;
  background-position: center;
  padding: 1em;
}

.heading {
  margin: 150px auto;
  max-width: 85%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 0px 11px rgba(255, 255, 255, 0.6);
}

.heading h1 {
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 2px;
}

.heading p {
  letter-spacing: 4px;
  padding-top: 25px;
  font-size: .9em;
}

/*========================================= S E C O N D    N A V =========================================*/

.second-nav {
  padding: 10px 1.8em;
}
.second-nav a {
  padding: 10px;
  font-size: .9em;
  color: #ABABAB;
}

/*========================================= G A L E R Y =========================================*/

#pic-main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin:auto;
  padding-bottom: 80px;

}

.pic-container {
  width: 350px;
  height: 350px;
  margin: 0px 15px 30px 15px;
}


/*========================================= F O O T E R =========================================*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  color: #747474;
  height: 328px;
  text-align: center;
  font-size: .9em;
}

footer p {
  padding-bottom: 15px;
}

footer div {
  padding-top: 15px;
}

.icon-container {
  display: inline-block;
  margin: 0 20px;
}

/*========================================= M E D I A =========================================*/

@media (min-width: 800px) {

  header {
    padding: 0 2em;
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav, .collapse {
    height: auto;
    overflow: visible;
  }

  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
  }

  header nav a {
    color: #666;
    margin: 0 10px;
    border-top: 0;
    padding: 6px 10px;
  }

  header nav a:hover {
    background-color: transparent;
    box-shadow: 0 1px #333;
  }

  #menu-icon {
    display: none;
  }

  .heading {
    margin: auto;
    margin-top: 150px;
    padding: 70px 103px;
    max-width: 650px;
  }

  .second-nav {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
  }

  .second-nav li {
    display: inline-block;
  }

  .second-nav a {
    display: inline-block;
    text-align: center;
    border-top: none;
    box-shadow: none;
    letter-spacing: 2px;
    border: none;
    padding: 10px 20px;
  }

}
