* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6em;
}

.container {
  border: 2px solid black;
  width: 100%;
  min-height: 600px;
  padding: 0;
  margin: 0;
  position: static;
}

.square {
  color: white;
  height: 150px;
  padding: 40px;
  /*  border: 2px solid pink;*/
}

p {
  text-align: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

/* Smallest first (<399px) */

@media (min-width:400px) {

  .square {
    width: 150px;
    position: fixed;
  }

  .red {
    left: 0;
    top: 0;
  }

  .blue {
    right: 0;
    top: 0;
  }

  .green {
    left: 0;
    bottom: 0;
  }

  .black {
    right: 0;
    bottom: 0;
  }
}

/* 400 - 499 */

@media (min-width:500px) {

  .red {
    right: 0;
    bottom: 0;
  }

  .blue {
    left: 0;
    top: 0;
  }

  .green {
    right: 0;
    top: 0;
  }

  .black {
    left: 0;
    bottom: 0;
  }
}

/* 500 - 599 */

@media (min-width:600px) {

  .red {
    left: 0;
    bottom: 0;
  }

  .blue {
    right: 0;
    bottom: 0;
  }

  .green {
    left: 0;
    top: 0;
  }

  .black {
    right: 0;
    top: 0;
  }
}

/* 600 - 699 */

@media (min-width:700px) {
  .red {
    right: 0;
    top: 0;
  }

  .blue {
    left: 0;
    bottom: 0;
  }

  .green {
    right: 0;
    bottom: 0;
  }

  .black {
    left: 0;
    top: 0;
  }
}

/* 700 - 799 */

@media (min-width:800px) {
  .square {
    display: flex;
    flex-flow: row nowrap;
  }
}

/* > 800 */

@media {}
