* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6em;
  padding-bottom: 400px;
}

.subtask {
  margin: 20px 0;
  border: 1px solid lightblue;
  border-radius: 8px;
  padding: 16px;
}

ul {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul > li {
  list-style-type: none;
  padding: 20px;
  background-color: lightpink;
  width: calc(100%/6);
}

ul > li img {
  margin: 0 auto;
  display: block;
}

.clearfix {
  clear: both;
}

/* Вашият CSS от тук надолу */

#subtask2 li:nth-of-type(even) {
  background-color: lightblue;
}

#subtask img:hover {
  background-color: lightblue;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
