body {
	margin: 0px;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
label {
	width: 110px;
	float: left;
	text-align: left;
}
label ,input ,#language {
	margin-top: 20px;
}
#name ,#email ,#language ,#phone {
	width: 220px;
	border: 2px inset;
	border-radius: 2px;
}
textarea {
	height: 200px;
	width: 240px;
	margin-top: 20px;
	resize:none;
	margin-left: 23px;
	border: 2px inset;
	border-radius: 2px;
	overflow-x: hidden;
}
#reset ,#submit {
	width: 60px;
	box-shadow: 1px 1px 3px #000000;
	background-color: white;
}