*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-size: 1.2em;
  background-color:  #b5fdb5;
  border: 2px solid palegreen;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}