<style>
    .days{
        display: flex;
        justify-content: center;
    }
    .img-ctr{
        height: 180px;
    }
</style>
<h1 class="p-3 text-center">Прогноза за следващите дни</h1>
<div class="container row days mb-5">
    <div class="card text-center mr-5 mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Сряда</h5>
        <hr>
        <img class="card-img-top img-ctr" src="icons/5.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>13&deg;C / 26&deg;C</strong></li>
        </ul>
        <div class="card-body" style="height: 23rem">
            <p class="card-text text-justify">В сряда ще преобладава слънчево време, отново в следобедните часове с развитие на купеста и купесто-дъждовна облачност и условия за превалявания и прегърмявания в планинските райони и тези в близост до тях, както и в Източна България. Ще бъде почти тихо или със слаб вятър от южната четвърт. Минималните температури ще са 11-16 градуса, а максималните 24-29 градуса. </p>
        </div>
    </div>
    <div class="card text-center mr-5 mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Четвъртък</h5>
        <hr>
        <img class="card-img-top img-ctr" src="icons/5.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>14&deg;C / 27&deg;C</strong></li>
        </ul>
        <div class="card-body" style="height: 23rem">
            <p class="card-text text-justify">В четвъртък ще бъде слънчево, в следобедните часове с развитие на купеста облачност и условия за краткотрайни валежи с гръмотевици, в планинските райони, ЮЗБ и СИБ. Почти тихо, в следобедните часове със слаб ЮИ-ен вятър. Минималните температури ще са 12-17 градуса, а максималните 25-30 градуса.  </p>
        </div>
    </div>
    <div class="card text-center mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Петък</h5>
        <hr>
        <img class="card-img-top img-ctr" src="icons/5.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>13&deg;C / 25&deg;C</strong></li>
        </ul>
        <div class="card-body" style="height: 23rem">
            <p class="card-text text-justify">В петък ще има разкъсана облачност, по-значителна отново в следобедните часове в планинските райони и ЗБ, където на места ще превали и прегърми краткотрайно. Вятърът ще бъде слаб от ИЮИ. Минималните температури ще са 11-16 градуса, а максималните 23-28 градуса, по крайбрежието на морето 20-23 градуса.</p>
        </div>
    </div>
</div>
