#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


#blue {

  background-color: blue;
  position: fixed;
  top: 10%;
  left: 3%;
}

#red {

  background-color: red;
  position: fixed;
  top: 8%;
  right: 13%;
}

#green {

  background-color: green;
  position: fixed;
  bottom: 11%;
  left: 14%;
}

#yellow {

  background-color: yellow;
  position: fixed;
  bottom: 15%;
  right: 18%;
}

.square {
  width: 100px;
  height: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.square {
  cursor: pointer;

}