* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: #faf8f5;
    font-family: 'Lora', 'Times New Roman', serif;
}

.post-preview {
    text-align: center;
}

#mission-img {
    margin-right: 25px;
}

.vector-img {
    margin-bottom: 10px;
    width: 150px;
}

h2 {
    margin-bottom: 30px;
}

.fly-left {
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: translateX(-400px) scale(1.05) translate3d(0, 0, 0);
}

.fly-right {
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: translateX(400px) scale(1.05) translate3d(0, 0, 0);
}

.show-block {
    opacity: 1;
    transform: translateX(0) scale(1) translate3d(0, 0, 0);
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    color: #fa840d;
}

.map {
    height: 350px;
}

a {
    color: #212529;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:focus,
a:hover {
    color: #a14400;
}

::-moz-selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #0085A1;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

#mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: whitesmoke;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(246, 119, 52, 0.86);
    opacity: 0.85;
}

header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: whitesmoke;
}

header.masthead .site-heading {
    font-size: 55px;
    margin-top: 0;
}

header.masthead .site-heading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading h1 {
    font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading {
    line-height: 1.1;
    display: block;
}

header.masthead .post-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
    color: #fff;
}

.post-preview > a {
    color: #212529;
}

.companies-icon {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.post-para {
    height: 200px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-parallax {
    height: 200px;
    width: 100vw;
    background-color: rgba(246, 119, 52, 0.86);
    opacity: 0.55;
}

.post-preview > a:focus,
.post-preview > a:hover {
    text-decoration: none;
    color: #fa840d;
}

.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
}

.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #333;
}

.post-meta {
    font-size: 19px;
    font-style: italic;
    margin-bottom: 40px;
    color: #333;
    text-decoration: none;
}

.post-meta > a {
    color: #333;
    text-decoration: none;
}

.post-preview > .post-meta > a:focus,
.post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #fa840d;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
    color: #868e96;
    font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
}

.floating-label-form-group .help-block {
    margin: 15px 0;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #fa840d;
}

form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #dee2e6;
}

footer {
    padding: 40px 0 55px;
    background-color: #212529;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

.btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
    background-color: #fa840d;
    border-color: #fa840d;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #c86400;
    border-color: #c86400;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading {
        font-size: 30px;
    }

    .post-preview > a > .post-title {
        font-size: 36px;
    }

    header.masthead .site-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
}

@media only screen and (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent;
    }

    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff;
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }

    #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #fff;
    }

    #mainNav .navbar-nav > li.nav-item > a:focus,
    #mainNav .navbar-nav > li.nav-item > a:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }

    #mainNav {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }

    #mainNav.is-fixed {
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9);
    }

    #mainNav.is-fixed .navbar-brand {
        color: #212529;
    }

    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
        color: #fa840d;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #212529;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color: #fa840d;
    }

    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
