@media screen and (min-width: 460px) and (max-width: 679px) {

  body {
    background-color: #EF875E;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    margin: 0;
  }
  
  .circle {
    background-color: #699BEA;
    color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle div {
    text-align: center;
  }
  
  .xs-only, .md-only, .lg-only {
    display: none;
  }
  
  .sm-only {
    display: block;
  }
}