body {
  padding-top: 100px;
  color: #454545;
  background: #f4f4f4;
  font-size: 14px;
}

#header nav {
  padding: 1em;
  font-size: 1.2em;
  -webkit-transition: padding .4s ease-in-out;
  transition: padding .4s ease-in-out;
  color: #F9FF53;
  background-color: #009688;
  border-color: #07564f;
  font-weight: bold;
  text-shadow: 2px 2px 2px #313131;
}
#header nav .navbar-brand {
  font-size: 1.4em;
}
#header nav a {
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  margin-bottom: .2em;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#header nav a,
#header nav a:visited,
#header nav a:hover,
#header nav a:focus {
  color: inherit;
  background-color: transparent;
}
#header nav a:not(.navbar-brand):hover,
#header nav a:not(.navbar-brand):focus {
  border-color: #e4e45e
}
#header nav.slim {
  padding: 0.2em;
}

#header nav.slim .navbar-brand {
  font-size: 1.2em;
}

.film-item {
  -webkit-box-shadow: 2px 2px 2px #c5c5c5;
  box-shadow: 2px 2px 2px #c5c5c5;
  height: 260px;
  background: #fefefe;
  border-radius: 0;
  margin-bottom: 2em;
}

.film-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #333;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 0 #a5a5a5;
  box-shadow: 0 1px 0 #a5a5a5;
}

.film-poster img {
  width: 100%;
}

.film-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.film-info > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.film-info h4 {
  font-size: 1.4em;
}

.film-info h4 a,
.film-info h4 a:hover {
  color: inherit;
  text-decoration: none;
}

.description {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-align: justify;
  margin: 1em 0;
  padding: 1em 0;
  border: 0px solid #ccc;
  border-top-width: 1px;
  border-bottom-width: 1px;
  overflow: hidden;
  position: relative;
}

.description .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  -webkit-box-shadow: -5em -2em 2em #fefefe inset;
  box-shadow: -5em -2em 2em #fefefe inset;
  text-align: right;
}

.elipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.year-genre {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9em;
}
.year-genre > * {
  white-space: nowrap;
}

.year-genre .genre {
  margin-left: 10px;
  font-style: italic;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

#filters label {
  font-weight: lighter;
  display: block;
}

#filters .form-control {
  padding-right: 1em;
  margin-right: 1em;
}

.carousel-item h5{
  background-color: rgba(0, 0, 0, 0.5);
}