* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fafafa;
  color: #222222;
}

header {
  text-transform: uppercase;
  align-items: center;
  padding: 0 2em;
}

header div {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-align: center;
}

header nav ul li {
  margin: 1vh;
}

nav a {
  color: #a7a7a7;
  text-decoration: none;
}

#intro {
  border: 1% solid;
  height: calc(100vh - 100px);
  background-image: url(images/header-bg.jpeg);
  background-size: cover;
  background-position: center;
  padding: 5%;
}

#brand {
  font-weight: bold;
  font-size: 1.5em;
}

#intro #headering {
  padding: 10%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 5% solid #f7f5f5;
  max-width: 600px;
  margin: 15vh auto;
}

main nav a {
  text-transform: uppercase;
  text-decoration: none;
}

main nav ul {
  justify-content: center;
  list-style: none;
}

main nav ul li {
  font-size: 0.8em;
}

#image {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#image img {
  margin: 10px;
}

footer {
  background-color: #252c2c;
  color: lightgrey;
  width: 100%;
  height: 200px;
  margin: 80px 0 0 0;
  text-align: center;
  padding: 50px;
}

@media (min-width:400px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }

  .visible_small {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }
  
  header nav ul li a{
    text-decoration: underline;
  }

  #intro {
    border: 1px solid;
    padding: 5%;
  }

  #intro #headering {
    padding: 20px;
    border: 10px solid #f7f5f5;
  }


  main nav ul {
    display: flex;
    flex-direction: row;
    margin: 5%;
  }

  main nav ul li {
    margin: 3%;
  }
}
