body {
	font-size: 16px;
	width: 100vw;
	height: 100vw;
	margin: 0;
}


img {
	width: 20px;
	height: 20px;
position: absolute;
top: 30px;
right: 200px;
}

header {
	background-color: orange;
/*	display: flex;*/
/*	border: 2px solid;*/
	width: 70vw;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
/*	flex-direction: column;*/
}
h1{
	font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0.67em;
    margin-right: 0.67em;
    font-weight: bold;
}
