body {
	width: 600px;
	margin: auto;
	font-family: 'Nunito', sans-serif;
}
header {
	margin-top: 20px;
	width: 100%;
	border: 1px solid #E6E6E6;
	border-radius: 10px;
	background-color: #666666;
	color: white;
	padding: 30px 0;
	font-size: 1.2em;
}
h1 {
	margin: 15px 0 0 20px;
}
p {
	margin: 5px 0 15px 20px;
}
ul {
	border: 1px solid #E6E6E6;
	width: 100%;
	padding: 0px;
	list-style-type: none;
}
li {
	border-top: 1px solid #E6E6E6;
	margin-top: -1px;
	font-weight: bold;
	width: 100%;
	height: 65px;
	padding: 20px 0;
	display: flex;
}
span {
	margin: 0 20px;
}
i {
	font-size: 60px;
	width: 56px;
	height: 63px;
	margin: 0 5px 0 10px;
}
a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	font-size: 1.8em;
}
a:visited {
	color: black;
}
#social2 {
	background-position: -76px 0px;
}
#social3 {
	background-position: -141px 0px;
}
#social4 {
	background-position: -208px 0px;
}
#social5 {
	background-position: -275px 0px;
}